<h1>Our pizzas!</h1>

<ul>
    {% for pizza in pizzas %}
        <li>
            <a href="/{{ pizza.name_slug }}">{{ pizza.name }}</a>
        </li>
        <div>
            <mark>Ingredients</mark>
        </div>
        <ul>
            {% for topping in pizza.toppings.all %}
                <li>{{ topping.name }}</li>
            {% endfor %}
        </ul>  
    {% endfor %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {% for field in order_form %}
            <div>
                {{ field.label_tag }} {{ field }}
            </div>
            {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
            {% if field.errors %}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
        {% endfor %}
        <button type="submit" class="order">Make order</button>
    </form>
    <button type="submit" class="more">add more pizza</button>
</ul>
<script>
    let pizza = document.querySelector('.pizza');
    let order = document.querySelector('.order');
    let more = document.querySelector('.more');
    let form = document.querySelector('.form');
    let body = document.querySelector('body')

    more.addEventListener('click', (e) => {
        e.preventDefault();
        p = document.createElement('p')
        l = document.createElement('label')
        l.setAttribute('for', 'id_choice')
        l.textContent = 'Choice: '
        cloned = pizza.cloneNode(true)
        p.append(l)
        p.append(cloned)
        form.insertBefore(p, order)

    });

</script>